@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  background-color: grey;
  color: white;
}

.container {
  text-align: center;
  padding: 50px;
}

#game {
  display: none;
}

